BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ReflowComments: true
